// We can import bulma into the project using Sass.
$radius: 1px;
$section-padding-medium: 6rem 1.5rem; // 9rem 1.5rem

@import '../node_modules/bulma/bulma';

html,body {
  color: #FFF;
  background-color: $black;
}


.l-layout {
  &Header {
    background-color: $black !important;
    &__nav {
      margin: 0 auto;
    }
  }
}

.p-header {
  &Logo {
    text-align: center;
  }
}

.u-text-align {
  text-align: center
}